name: Auto-label issues by keywords

on:
  issues:
    types: [opened, edited, reopened]

permissions:
  issues: write

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: github/issue-labeler@v3.4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: ".github/issue-labeler.yml"
          enable-versioned-regex: 0
